@media only screen and (max-width: 1200px) {
	.content {
		background-size: auto 100% !important;
	}
}


.content {
	background-image: url("pictures/work.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 100%;
	bottom: 48px;
}

#homeTXT {
	margin-top: 30px;
	background-color: lightgoldenrodyellow;

	padding: 30px;
}

.berichtTXT {
	margin-top: 30px;
	padding: 5px;
	background-color: lightgoldenrodyellow;
	margin-bottom: 30px;
}

#Hl {
	font-family: "Times New Roman", Times, serif;
	font-size: 50px;
	margin-top: 5px;
	margin-bottom: 0px;
	font-weight: bolder;
	color: #e8a450;
}