@media only screen and (max-width: 1200px) {
	.content {
		background-size: auto 100% !important;
	}
}


.content {
	background-image: url("pictures/work.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 100%;
	bottom: 48px;
    padding: 30px;
}

#homeTXT {
	font-size: 25px;
	margin-top: 30px;
	background-color: lightgoldenrodyellow;
	padding: 30px;
}

.berichtTXT {
    float: left;
    text-align: left;
	margin-top: 30px;
	padding: 5px;
	background-color: lightgoldenrodyellow;
}

.berichtTXT h2 {
    margin-top: 0px;
    font-family: "Times New Roman", Times, serif;
	font-size: 30px;
}

.berichtTXT img {
    height: 100px;
    width: 100px;
    margin-top: 8px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 8px;
    float: left;
    border: 1px solid #ddd;
}

#Hl {
	font-family: "Times New Roman", Times, serif;
	font-size: 50px;
	margin-bottom: 20px;
	font-weight: bolder;
	color: #e8a450;
	
}

.row{
	margin-right: 15px;
	margin-left: 15px;
}



